In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('EmployeeAttrition.csv')

In [3]:
df.shape

(1470, 35)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [5]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [7]:
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [8]:
df.drop(['EmployeeCount','Over18','StandardHours'], axis=1, inplace=True)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(1470, 32)

In [11]:
# now we will assume all columns in our data which are object columns are nominal
# so we will do one-hot encoding bcoz of nominal

df_ohe = pd.get_dummies(df)

In [12]:
df_ohe.shape

(1470, 54)

In [15]:
df_ohe.fillna(df_ohe.median(), inplace=True)

In [17]:
df_ohe.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_No',
       'Attrition_Yes', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_No',
       'OverTime_Yes'],
      dtype='object')

In [24]:
df_ohe.nunique()

Age                                    43
DailyRate                             886
DistanceFromHome                       29
Education                               5
EmployeeNumber                       1470
EnvironmentSatisfaction                 4
HourlyRate                             71
JobInvolvement                          4
JobLevel                                5
JobSatisfaction                         4
MonthlyIncome                        1349
MonthlyRate                          1427
NumCompaniesWorked                     10
PercentSalaryHike                      15
PerformanceRating                       2
RelationshipSatisfaction                4
StockOptionLevel                        4
TotalWorkingYears                      40
TrainingTimesLastYear                   7
WorkLifeBalance                         4
YearsAtCompany                         37
YearsInCurrentRole                     19
YearsSinceLastPromotion                16
YearsWithCurrManager                   18
Attrition_No                            2
Attrition_Yes                           2
BusinessTravel_Non-Travel               2
BusinessTravel_Travel_Frequently        2
BusinessTravel_Travel_Rarely            2
Department_Human Resources              2
Department_Research & Development       2
Department_Sales                        2
EducationField_Human Resources          2
EducationField_Life Sciences            2
EducationField_Marketing                2
EducationField_Medical                  2
EducationField_Other                    2
EducationField_Technical Degree         2
Gender_Female                           2
Gender_Male                             2
JobRole_Healthcare Representative       2
JobRole_Human Resources                 2
JobRole_Laboratory Technician           2
JobRole_Manager                         2
JobRole_Manufacturing Director          2
JobRole_Research Director               2
JobRole_Research Scientist              2
JobRole_Sales Executive                 2
JobRole_Sales Representative            2
MaritalStatus_Divorced                  2
MaritalStatus_Married                   2
MaritalStatus_Single                    2
OverTime_No                             2
OverTime_Yes                            2
dtype: int64

# X & Y split

In [22]:
X = df_ohe.drop(['Attrition_No','Attrition_Yes'],axis=1)
X

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,2,94,3,2,4,...,False,False,False,True,False,False,False,True,False,True
1,49,279,8,1,2,3,61,2,2,2,...,False,False,True,False,False,False,True,False,True,False
2,37,1373,2,2,4,4,92,2,1,3,...,False,False,False,False,False,False,False,True,False,True
3,33,1392,3,4,5,4,56,3,1,3,...,False,False,True,False,False,False,True,False,False,True
4,27,591,2,1,7,1,40,3,1,2,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,2061,3,41,4,2,4,...,False,False,False,False,False,False,True,False,True,False
1466,39,613,6,1,2062,4,42,2,3,1,...,False,False,False,False,False,False,True,False,True,False
1467,27,155,4,3,2064,2,87,4,2,2,...,True,False,False,False,False,False,True,False,False,True
1468,49,1023,2,3,2065,4,63,2,2,2,...,False,False,False,True,False,False,True,False,True,False
1469,34,628,8,3,2068,2,82,4,2,3,...,False,False,False,False,False,False,True,False,True,False

In [19]:
Y = df_ohe['Attrition_Yes']
Y

0        True
1       False
2        True
3       False
4       False
        ...
1465    False
1466    False
1467    False
1468    False
1469    False
Name: Attrition_Yes, Length: 1470, dtype: bool

In [23]:
X.shape, Y.shape

((1470, 52), (1470,))

# Train Test Split

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=7)

In [29]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1029, 52), (441, 52), (1029,), (441,))

# standardize the data

- standard scaler (z score) = (x-mean)/std_dev
- min max scaler
- robust scaler

In [16]:
from sklearn.preprocessing import StandardScaler

In [30]:
sd = StandardScaler()                       # StandardScaler is algo here
sd.fit(X_train, Y_train)                    # fit() trains an algo
# learns mean and std_deviation from training data

StandardScaler()

In [31]:
# after standardization, mean is 0 and std_dev is 1, always .... and data is centered around mean

In [33]:
X_train.describe()
# can see standardscaler is nota pplied yet, we have just fitted model, so now use transform()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,...,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000
mean,37.031098,793.530612,9.343052,2.921283,1034.862974,2.732750,65.728863,2.726919,2.057337,2.710398,...,3.154519,2.716229,0.795918,11.320700,2.815355,2.760933,6.921283,4.132167,2.121477,4.060253
std,9.141080,404.014211,8.223407,1.026224,602.915678,1.090062,20.380270,0.703150,1.104297,1.108729,...,0.361621,1.085427,0.850236,7.746982,1.299849,0.710667,6.064875,3.589330,3.146831,3.557513
min,18.000000,103.000000,1.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,444.000000,2.000000,2.000000,499.000000,2.000000,48.000000,2.000000,1.000000,2.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1038.000000,3.000000,66.000000,3.000000,2.000000,3.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1144.000000,14.000000,4.000000,1573.000000,4.000000,83.000000,3.000000,3.000000,4.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,2.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,2065.000000,4.000000,100.000000,4.000000,5.000000,4.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [38]:
# X_train_std = sd.transform(X_train)
# this changes the data based on z-score i.e. (X-mean)/std_dev

In [39]:
# X_train_std.describe()
# gives AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [43]:
X_train.loc[:,:] = sd.transform(X_train)
# this changes the data based on z-score i.e. (X-mean)/std_dev

In [44]:
X_train.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
count,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,...,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000
mean,-4.053034,-1.965071,-1.136706,-2.848016,-1.717265,-2.508186,-3.226691,-3.880031,-1.863935,-2.445789,...,-0.324443,-0.230704,-0.497265,-0.538028,-0.255377,-0.547031,-0.920542,-0.671818,-1.600173,-0.624932
std,0.109503,0.002478,0.121722,0.975394,0.001660,0.918271,0.049115,1.423554,0.906434,0.902811,...,3.408306,4.567489,2.509484,2.397834,4.173185,2.376237,2.007834,2.161366,2.226187,2.226187
min,-4.281011,-1.969305,-1.260199,-4.674135,-1.720112,-3.967859,-3.312794,-7.376243,-2.731823,-3.838526,...,-1.429706,-1.283928,-1.744538,-1.827501,-1.320594,-1.846273,-2.767938,-2.123158,-5.160727,-2.015473
25%,-4.137260,-1.967214,-1.245397,-3.723667,-1.718741,-3.125457,-3.269416,-5.351706,-2.731823,-3.024250,...,-1.429706,-1.283928,-1.744538,-1.827501,-1.320594,-1.846273,-2.767938,-2.123158,-5.160727,-2.015473
50%,-4.065385,-1.965019,-1.171388,-2.773198,-1.717257,-2.283054,-3.226037,-3.327169,-1.910999,-2.209974,...,-1.429706,-1.283928,-1.744538,-1.827501,-1.320594,-1.846273,-2.767938,-2.123158,-0.209632,-2.015473
75%,-3.981531,-1.962921,-1.067774,-1.822730,-1.715783,-1.440652,-3.185069,-3.327169,-1.090174,-1.395697,...,-1.429706,-1.283928,-1.744538,-1.827501,-1.320594,-1.846273,1.259543,2.543807,-0.209632,2.935621
max,-3.777885,-1.960744,-0.845745,-0.872261,-1.714429,-1.440652,-3.144100,-1.302632,0.551476,-1.395697,...,10.175557,19.557758,4.546852,3.916518,16.077956,3.794742,1.259543,2.543807,-0.209632,2.935621

In [45]:
X_test.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,...,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000
mean,36.673469,823.380952,8.841270,2.893424,1001.537415,2.696145,66.269841,2.736961,2.079365,2.770975,...,3.151927,2.702948,0.789116,11.183673,2.761905,2.761905,7.210884,4.455782,2.342404,4.269841
std,9.127503,402.009345,7.826077,1.020239,599.973783,1.100912,20.228293,0.731573,1.114188,1.089066,...,0.359358,1.072472,0.857305,7.867095,1.264911,0.697398,6.270310,3.695017,3.390929,3.592571
min,19.000000,102.000000,1.000000,1.000000,7.000000,1.000000,30.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,486.000000,2.000000,2.000000,471.000000,2.000000,48.000000,2.000000,1.000000,2.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,35.000000,804.000000,7.000000,3.000000,987.000000,3.000000,66.000000,3.000000,2.000000,3.000000,...,3.000000,3.000000,1.000000,9.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,42.000000,1195.000000,13.000000,4.000000,1529.000000,4.000000,84.000000,3.000000,3.000000,4.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000
max,59.000000,1498.000000,29.000000,5.000000,2068.000000,4.000000,100.000000,4.000000,5.000000,4.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,37.000000,18.000000,15.000000,15.000000

In [46]:
X_test.loc[:,:] = sd.transform(X_test)

In [47]:
X_test.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
count,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,...,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000
mean,-0.039142,0.073920,-0.061048,-0.027160,-0.055301,-0.033597,0.026557,0.014289,0.019957,0.054663,...,0.038624,0.059155,0.003250,-0.021738,-0.066209,-0.062320,-0.005851,0.062983,-0.015858,0.015858
std,0.999000,0.995521,0.952146,0.994652,0.995604,1.010445,0.993026,1.040928,1.009447,0.982743,...,1.052395,1.114487,1.003590,0.986421,0.868894,0.958314,1.000633,1.024622,1.008722,1.008722
min,-1.973494,-1.712482,-1.015043,-1.873097,-1.705649,-1.590361,-1.753963,-2.457168,-0.957941,-1.543417,...,-0.324443,-0.230704,-0.497265,-0.538028,-0.255377,-0.547031,-0.920542,-0.671818,-1.600173,-0.624932
25%,-0.769550,-0.761558,-0.893379,-0.898177,-0.935682,-0.672536,-0.870326,-1.034306,-0.957941,-0.641044,...,-0.324443,-0.230704,-0.497265,-0.538028,-0.255377,-0.547031,-0.920542,-0.671818,-1.600173,-0.624932
50%,-0.222303,0.025926,-0.285063,0.076743,-0.079424,0.245288,0.013310,0.388556,-0.051947,0.261329,...,-0.324443,-0.230704,-0.497265,-0.538028,-0.255377,-0.547031,-0.920542,-0.671818,0.624932,-0.624932
75%,0.543844,0.994184,0.444916,1.051663,0.819978,1.163113,0.896947,0.388556,0.854047,1.163701,...,-0.324443,-0.230704,-0.497265,-0.538028,-0.255377,-0.547031,1.086317,1.488498,0.624932,1.600173
max,2.404484,1.744523,2.391528,2.026583,1.714401,1.163113,1.682402,1.811418,2.666034,1.163701,...,3.082207,4.334566,2.010999,1.858641,3.915780,1.828051,1.086317,1.488498,0.624932,1.600173